
[Desktop Entry]
Type=Application
Categories=Qt;KDE;Graphics;Photography;
Exec=digikam 
Icon=digikam.png
X-DocPath=digikam/index.html
MimeType=x-content/image-dcf;x-content/image-picturecd;
Name=digiKam
Name[ru]=digiKam
GenericName=Photo Management Program
GenericName[ru]=Программа управления фотографиями
Comment=Manage your photographs like a professional with the power of open source
Comment[ru]=Управляйте своей коллекцией фотографий на профессиональном уровне с помощью свободного программного обеспечения
Terminal=false
X-XFCE-Source=file:///usr/share/applications/kde4/digikam.desktop
